#a_filter_container {
  margin: auto;
  width: 90%;
  /* border-bottom: 1px solid rgb(216, 214, 214); */
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
}
#a_filter_container > select {
  /* width:12%; */
  padding: 5px;
  margin-right: 1%;
  font-size: 0.8em;
}
#a_product_container {
  width: 90%;
  border: 1px solid black;
  height: 500px;
  margin: auto;
}
#a_product_grid {
  display: grid;
  grid-template-columns: repeat(3fr, 4fr);
  /* border:1px solid black; */
  height: 20%;
}
.PProductDiv {
  /* display: flex; */
  /* border:1px solid black; */
}
/* vattsal divs */
.vMainBidDiv {
  /* border: 1px solid red; */
  width: 50%;
  /* height: 50%; */
  margin: auto;
}
/* 
.pbid {
  /* display: flex; */
/* margin: auto; */

.pbid > input {
  /* border-radius: 1px solid transparent; */
  width: 70%;
  height: 40px;
  border: 1px solid grey;
  border-radius: 3%;
}
.pbtn {
  border-radius: 10px;
  margin-top: 10px;
  background-color: #5f4dee;
  border: 1px solid #5f4dee;
  color: white;
  height: 35px;
  width: 45%;
}
textarea {
  width: 70%;
  border: 1px solid grey;
  border-radius: 1%;
}
.pcomment {
  margin: auto;
  align-items: center;
}
.pcomment > textarea {
  border-radius: 10px;
  height: 250px;
  width: 250px;
}
