/* #a_filter_container{
    margin:auto;
    width:90%;
    border-bottom: 1px solid rgb(216, 214, 214);
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%
}
#a_filter_container>select{
    padding:5px;
    margin-right:1%;
    font-size:0.8em;
}
#a_s_product_container{
    width:90%;
    border:1px solid black;
    height:500px;
    margin:auto;
}
#a_product_grid{
    display: grid;
    grid-template-columns:repeat(3fr, 4fr);
    border:1px solid black;
    height:20%;
}
.ProductSDiv{
    display: flex;
    border:1px solid black;
}
#a_s_image_cont{
    border:1px solid black;
}
#a_writtenPart{
    border:1px solid black;
} */